<section id="medicos" class="bg-light py-5">
  <div class="container">

    <h2 class="text-center mb-5">Nuestros médicos</h2>

    <div class="row g-4">

      <div class="col-md-4">
        <div class="card h-100 shadow-sm border-0">

          <img
            src="https://img.magnific.com/vector-premium/vector-caricatura-linda-ilustracion-vectorial-oficial-salud-publica_1022901-129986.jpg?semt=ais_hybrid&w=740&q=80"
            class="card-img-top" alt="Dra. Ana Torres">

          <div class="card-body text-center">
            <h5 class="card-title">Dra. Ana Torres</h5>

            <p class="text-primary fw-bold">
              Pediatría
            </p>

            <p class="card-text">
              Especialista en el cuidado y atención de niños y adolescentes.
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card h-100 shadow-sm border-0">

          <img
            src="https://thumb.wikimedia.org/wikipedia/commons/thumb/b/b2/New_York_Comic_Con_2014_-_Doctor_Strange_%2815314229860%29.jpg/960px-New_York_Comic_Con_2014_-_Doctor_Strange_%2815314229860%29.jpg?utm_source=es.wikipedia.org&utm_campaign=index&utm_content=thumbnail"
            class="card-img-top" alt="Dr. Carlos Pérez">

          <div class="card-body text-center">
            <h5 class="card-title">Dr. Carlos Pérez</h5>

            <p class="text-primary fw-bold">
              Cardiología
            </p>

            <p class="card-text">
              Especialista en prevención y tratamiento de enfermedades del corazón.
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card h-100 shadow-sm border-0">

          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFbpNDZBK6sbnK7clA6QdEayBBNQK9fUY4DWJ-4mUXrnwQ5XcFEeKu1xzf&s=10"
            class="card-img-top" alt="Dra. María López">

          <div class="card-body text-center">
            <h5 class="card-title">Dra. María López</h5>

            <p class="text-primary fw-bold">
              Medicina General
            </p>

            <p class="card-text">
              Atención médica general para pacientes de diferentes edades.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>