<section id="nosotros" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Sobre nosotros</h2>

        <h4>Historia</h4>

        <p>
            El Hospital Dr. Sano fue creado para brindar servicios médicos
            de calidad a la comunidad.
        </p>

        <div class="row g-4 mt-3">
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">Misión</h4>

                        <p class="card-text">
                            Brindar atención médica de calidad, responsable y humana.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">Visión</h4>

                        <p class="card-text">
                            Ser un hospital reconocido por su buena atención y servicio.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>